/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

* {
  font-family: 'Kanit', sans-serif;
}
:root {
  --palette-primary: #ee7033;
  --palette-secondary: #0c8397;
  --palette-text-primary: #000000;
  --palette-text-secondary: #cacaca;
  --palette-border: #cccccc;
  --palette-green: #12a580;
  --palette-pink: #d51271;
  --palette-red: #c12020;
  --palette-dark-yellow: #c89616;
  --palette-orange: #e25a2c;
  --palette-blue: #1180aa;
  --palette-yellow: #fbbb1b;
}

// Utils
.w {
  &-full {
    width: 100%;
  }
  &-1\/2 {
    width: 50%;
  }
  &-1\/3 {
    width: 33.333%;
  }
  &-1\/4 {
    width: 25%;
  }
  &-screen {
    width: 100vw;
  }
}
.h {
  &-full {
    height: 100%;
  }
  &-1\/2 {
    height: 50%;
  }
  &-1\/3 {
    height: 33.333%;
  }
  &-1\/4 {
    height: 25%;
  }
  &-screen {
    height: 100vh;
  }
}

.flex {
  display: flex;
  &-row {
    flex-direction: row;
  }
  &-row-reverse {
    flex-direction: row-reverse;
  }
  &-col {
    flex-direction: column;
  }
  &-col-reverse {
    flex-direction: column-reverse;
  }
  &-1 {
    flex: 1 1 0%;
  }
  &-auto {
    flex: 1 1 0%;
  }
}

.justify {
  &-stretch {
    justify-content: stretch;
  }
  &-start {
    justify-content: flex-start;
  }
  &-end {
    justify-content: flex-end;
  }
  &-center {
    justify-content: center;
  }
  &-between {
    justify-content: space-between;
  }
  &-around {
    justify-content: space-around;
  }
  &-evenly {
    justify-content: space-evenly;
  }
}

.items {
  &-stretch {
    align-items: stretch;
  }
  &-start {
    align-items: flex-start;
  }
  &-end {
    align-items: flex-end;
  }
  &-center {
    align-items: center;
  }
  &-between {
    align-items: space-between;
  }
  &-around {
    align-items: space-around;
  }
  &-evenly {
    align-items: space-evenly;
  }
}

.text-align {
  &-center {
    text-align: center;
  }
  &-left {
    text-align: left;
  }
  &-right {
    text-align: right;
  }
}

.arrow-up {
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid var(--palette-border);
}

.arrow-down {
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid var(--palette-border);
}

.overflow {
  &-auto {
    overflow: auto;
  }
  &-hidden {
    overflow: hidden;
  }
  &-scroll {
    overflow: scroll;
  }
}
